@{
    ViewData["TiTle"] = "Về chúng tôi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Begin Main Content Area -->
<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height" data-bg-image="/DataHA/assets/images/breadcrumb/bg/n1_169.png">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h2 class="breadcrumb-heading">Giới thiệu</h2>
                        <ul>
                            <li>
                                <a href="/">Trang chủ <i class="pe-7s-angle-right"></i></a>
                            </li>
                            <li>Giới thiệu</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-banner different-bg-position section-space-y-axis-100" data-bg-image="~/DataHA/assets/images/about/banner/1-1-1920x598.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-5">
                    <div class="parallax-img-wrap">
                        <div class="papaya">
                            <div class="scene fill">
                                <div class="expand-width" data-depth="0.2">
                                    <img src="~/DataHA/assets/images/banner/inner-img/CT.jpg" alt="Banner Images">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7 align-self-center">
                    <div class="about-banner-content">
                        <div class="section-title">
                            <span class="sub-title">Chào mừng bạn đã ghé thăm Shop chúng tôi</span>
                            <h2 class="title font-size-60 mb-6">SHOP HÀNG ĐẦU VỀ NỘI THẤT</h2>
                            <p class="short-desc mb-0">Đến với chúng tôi, bạn sẽ nhận được những món hàng chất lượng nhất với mức giá ưu đãi chưa tường có. Nhanh tay, Nhanh tay! Bấm mua ngay để khỏi bỏ lỡ nhưng sản phẩm chất lượng nhất   </p>
                            <div class="button-wrap pt-8">
                                <a class="btn btn-custom-size lg-size btn-primary btn-dark-hover rounded-0" href="@Url.Action("Index", "Product",new { routeName = "ShopProduct" })">Mua Ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="intro-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="intro-item text-white" data-bg-color="#aec581">
                        <div class="intro-icon mb-5">
                            <img style="width:130px;height:130px" src="~/DataHA/assets/images/about/intro/ca.jpg" alt="Intro Icon">
                        </div>
                        <div class="intro-content">
                            <h3 class="title mb-4">Chúng tôi là ai</h3>
                            <p class="short-desc mb-0">Chúng tôi là công ty bán nội thất uy tín nhất, mang các món đồ bắt kịp xu hướng đến tay người tiêu dùng tốt nhất</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pt-6 pt-md-0">
                    <div class="intro-item text-white" data-bg-color="#b9cbe7">
                        <div class="intro-icon mb-5">
                            <img style="width:130px;height:130px" src="~/DataHA/assets/images/about/intro/6806356.png" alt="Intro Icon">
                        </div>
                        <div class="intro-content">
                            <h3 class="title mb-4">Sản phẩm của chúng tôi</h3>
                            <p class="short-desc mb-0">Sản phẩm của chúng tôi đặt nặng về chất lượng và mang đến giá thành thấp nhất đến với người tiêu dùng</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pt-6 pt-lg-0">
                    <div class="intro-item text-white" data-bg-color="#b8a780">
                        <div class="intro-icon mb-5">
                            <img style="width:130px;height:130px" src="~/DataHA/assets/images/about/intro/attachment.jpg" alt="Intro Icon">
                        </div>
                        <div class="intro-content">
                            <h3 class="title mb-4">Chúng tôi làm việc như thế nào ?</h3>
                            <p class="short-desc mb-0">Chúng tôi sẽ cung cấp cho bạn những sản phẩm hoàn hảo nhất vưới yêu cầu của bạn đưa ra</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-banner about-banner-height" data-bg-image="~/DataHA/assets/images/about/banner/2-1-1920x500.jpg">
        <div class="popup-btn">
            <a class="popup-vimeo wave-btn" href="https://www.youtube.com/watch?v=Sqpnk2VJbcM">
                <span></span>
                <span></span>
                <span></span>
                <div class="icon">
                    <i class="fa fa-play"></i>
                </div>
            </a>
        </div>
    </div>
    <div class="team-member section-space-top-100">
        <div class="container">
            <div class="section-title text-center pb-55">
                <span class="sub-title text-primary"> Master</span>
                <h2 class="title mb-0">Đội ngũ gồm</h2>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="swiper-container team-member-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="team-member-item">
                                    <div class="team-member-img img-zoom-effect with-overlay">
                                        <a href="javascript:void(0)">
                                            <img style="width:370px;height:350px" src="~/DataHA/assets/images/about/team/Tùng.jpg" alt="Team Member">
                                        </a>
                                    </div>
                                    <div class="team-member-content text-black pt-5">
                                        <h6 class="title mb-0">Lưu Thanh Tùng </h6>
                                        <span class="occupation">Chủ tiệm nội thất lớp nhất SG</span>
                                        <div class="social-link with-border justify-content-center pt-2">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-pinterest-p"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-tumblr"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-dribbble"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team-member-item">
                                    <div class="team-member-img img-zoom-effect with-overlay">
                                        <a href="javascript:void(0)">
                                            <img style="width:370px;height:350px" src="~/DataHA/assets/images/about/team/1-2-370x350.jpg" alt="Team Member">
                                        </a>
                                    </div>
                                    <div class="team-member-content text-black pt-5">
                                        <h6 class="title mb-0">Lê Bảo Vinh</h6>
                                        <span class="occupation">Chủ nhiệm quản lý SHOP WED</span>
                                        <div class="social-link with-border justify-content-center pt-2">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-pinterest-p"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-tumblr"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-dribbble"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team-member-item">
                                    <div class="team-member-img img-zoom-effect with-overlay">
                                        <a href="javascript:void(0)">
                                            <img style="width:370px;height:350px" src="~/DataHA/assets/images/about/team/Tuyến.jpg" alt="Team Member">
                                        </a>
                                    </div>
                                    <div class="team-member-content text-black pt-5">
                                        <h6 class="title mb-0">Nguyễn Trung Tuyến</h6>
                                        <span class="occupation">Quản lý kinh phí</span>
                                        <div class="social-link with-border justify-content-center pt-2">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-pinterest-p"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-tumblr"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-dribbble"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main Content Area End Here -->
<!-- Begin Shipping Area -->
<div class="shipping-area section-space-y-axis-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="shipping-item">
                    <div class="shipping-img">
                        <img style="width:60px;height:50px" src="~/DataHA/assets/images/shipping/icon/7245083.png" alt="Shipping Icon">
                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Giao hàng miễn phí</h5>
                        <p class="short-desc mb-0">Với đơn hàng từ 5 triệu</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pt-6 pt-md-0">
                <div class="shipping-item">
                    <div class="shipping-img">
                        <img style="width:60px;height:50px" src="~/DataHA/assets/images/shipping/icon/images.png" alt="Shipping Icon">
                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Hỗ trợ 24/7</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pt-6 pt-lg-0">
                <div class="shipping-item">
                    <div class="shipping-img">
                        <img style="width:60px;height:50px" src="~/DataHA/assets/images/shipping/icon/6h.jpg" alt="Shipping Icon">
                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Giờ làm việc</h5>
                        <p class="short-desc mb-0">Từ 6h00 - 19h30 hàng ngày</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shipping Area End Here -->
