@model WebNoiThat.Models.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết đơn hàng</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Họ và tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.FullName)
        </dd>

        <dt>
            Ngày đặt
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            Tình trạng đơn hàng
        </dt>

        <dd>
            @{
                if (Model.Paid == false)
                {
                    <div style="color:red">Đang chờ xác nhận</div>
                }
                else if (Model.Paid == true)
                {


                    <div style="color:slateblue">Đã xác nhận</div>

                }
                else
                {
                    <div style="color:red">Đang chờ xác nhận</div>

                }
            }
        </dd>
        <dt>
            Địa chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
</div>
<p>
    <button> @Html.ActionLink("Xác nhận đơn hàng", "Xacnhan", new { id = Model.OrderID }) </button>
</p>
